@charset "utf-8";
/* CSS Document */
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}

#container {
	display: block;
	min-height: 100%;
	overflow: auto;
	overflow-x: scroll;	
	margin: 50px 0 0 0;
}

#container1 {
	display: block;
	min-height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	margin: 50px 0 0 0;
	background-image:url(../bg.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: 1920px 1080px
}

#static {
	background-color:#000000;
	color: white;
	position: fixed;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	padding: 5px 5px 5px 0px;
}

#table	{
	background-color: #000000;
	color: white;
	font-family: raleway;
	padding-left: -30px;
	padding-top: 15px;
}

#header		{
		text-indent: 40px;
		font-family: helvetica, raleway, verdana sans-serif;
		font-size: 50px;	
		opacity: 1.0;
		margin-top: -50px;
		margin-bottom: -50px;
		background-color:#FFFFFF;
			}	
#top {
	font-family: raleway;
	font-size: 25px;
	word-spacing: 100px;
	display: table;
	margin: 0 auto;
	padding-bottom: 25px;
}

ul, li {
	list-style-type: none;
	font-family: raleway;
}

ul#horiz-left {
	float: left;
	list-style: none;
}
ul#horiz-left li {
	display: inline;
	padding-right: 50px;
}
ul#horiz-right {
	float: right;
	list-style: none;
	display: inline;
	padding-right: 50px;
	
}
ul#horiz-right li {
	display: inline;
	padding-left: 50px;
}

#nav {
	font-family: raleway;
    float: left;
	width: 15%;
	height: 940px;
	margin-left: auto;
	margin-right: 50px;
	margin-top: 0px;
	background-color: white;
	display: inline-block;
	overflow: hidden;
	}

#content {
	width: 80%;
		}

a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

a:hover {
	color: #FF0000;
}

#title {
	font-family: arial;
	text-align: center;
	font-size: 50px;
	margin: 0px;
	margin-bottom: -10px;
}

#title1 {
	font-family: arial;
	text-align: center;
	font-size: 50px;
	margin: 0px;
	margin-bottom: -10px;
	color: white;
}

#section {
	font-family: arial;
	text-indent: 25px;
	margin-bottom: -10px;
}

p {
	font-family: verdana;
}

form {
	font-family: verdana;
}


#art {   
    width: 1400px;
	display:block;
    margin-top:20px;
    margin-left: auto; 
    margin-right: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
#art a {
    vertical-align: top;
    display: inline-block;
    display: inline;
    zoom: 1;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px; 
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(255, 0, 0, 1.0);
}

figure
{display: inline-block;}

figure figcaption {
	font-family: arial;
	font-size: 12px;
	text-align: center;
}


